
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif
  }
  header{
    display: flex;
    align-items: center;  
    padding: 2rem;
    background-color: #12161F;
  }
  .contenido{
      margin: auto;
      display: flex;
  }
  #logoI{
    width: 200px;
    height: 130px;
    border-radius: 5%;
  }
   nav ul {
    display: flex;
    li {
      list-style: none;
      a {
        position: relative;
        text-transform: uppercase;
        margin: 20px 0;
        padding: 10px 20px;
        text-decoration: none;
        color: #fff;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 600;
        transition: .5s;
        z-index: 1;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-top: 2px solid #fff;
          border-bottom: 2px solid #fff;
          transform: scaleY(2);
          opacity: 0;
          transition: .3s;
        }
        &:after {
          content: '';
          position: absolute;
          top: 2px;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #fff;
          transform: scale(0);
          opacity: 0;
          transition: .3s;
          z-index: -1;
        }
        &:hover {
          color: #12161F;
          &:before {
            transform: scaleY(1);
            opacity: 1;
          }
          &:after {
            transform: scaleY(1);
            opacity: 1;
          }
        }
      }
    }
  }
  nav a, #welcome-message {
    color: white;
    padding: 8px 15px;
    text-decoration: none;
}
.btn {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 8pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  background: #040f16;
  color: #f5f5f5;
  margin-bottom: 60pt;
 
}

.btn:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn .icon {
  position: absolute;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn .text {
  transform: translateX(55px);
}

.btn:hover .icon {
  width: 175px;
}

.btn:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.btn:active .icon {
  transform: scale(0.85);
}
/* From Uiverse.io by vinodjangid07 */ 
.cartBtn {
  width: 155px;
  height: 50px;
  border: none;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  color: white;
  font-weight: 500;
  font-size: 20pt;
  position: relative;
  background-color: rgb(29, 29, 29);
  box-shadow: 0 20px 30px -7px rgba(27, 27, 27, 0.219);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  margin-left: 70pt;
}

.cart {
  z-index: 2;
  height: 30pt;
  width: 60pt;
}

.cartBtn:active {
  transform: scale(0.96);
}

.product {
  position: absolute;
  width: 12px;
  border-radius: 3px;
  content: "";
  left: 23px;
  bottom: 23px;
  opacity: 0;
  z-index: 1;
  fill: rgb(211, 211, 211);
}

.cartBtn:hover .product {
  animation: slide-in-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-30px);
    opacity: 1;
  }

  100% {
    transform: translateY(0) rotate(-90deg);
    opacity: 1;
  }
}

.cartBtn:hover .cart {
  animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.product-card {
  background-color: var(--card-background-color);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 10px;
  padding: 20px;
}

.product-card {
 /* background-color: white;*/
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: 50%;
  border-radius: 8px;
}

.product-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.product-card p {
  font-size: 14px;
  margin: 5px 0;
}

.product-card .sold-out {
  color: red;
  font-weight: bold;
}

#logout-link {
  color: rgb(77, 183, 61);
  cursor: pointer;
}

#welcome-message {
  margin-right: 10px;
  font-weight: bold;
  color: green;
}
.compra {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

.compra h3 {
  margin: 0 0 10px;
}

.compra ul {
  list-style-type: none;
  padding: 0;
}

.compra ul li {
  padding: 10px 0;
}

.compra p {
  font-weight: bold;
}
/* Para pantallas de hasta 480px (móviles en modo vertical) */
@media screen and (max-width: 480px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 10px;
  }

  button, input {
    width: 100%; 
  }

  .hamburger.active {
    content: "\2715"; 
  }
}

  input{
      outline: none;
      box-sizing: border-box;
      height: 60px;
      width: 0;
      padding: 0 20px;
      color: #000;
      border-radius: 50px;
      font-size:20px;
      border: 1px solid #275CE3;
      transition: all .7s ease;
  }
  ::placeholder{
      color: grey;
  }
 
  .container:hover input{
      width: 350px;
  }
  .container:hover i{
      transform: rotate('-360deg');
  }
  
  
  .btn,
  .cerrar-menu{
   display: none;
      
  }
  
  
  @media screen and (max-width: 700px) {
      .btn,
      .cerrar-menu{
          display: flex;
          border: 0;
          font-size: 1.25rem;
          background-color: transparent;
          color:white;
          cursor: pointer;
          z-index: 1;
          
      }
      nav ul{
        display: block;
        line-height: 4
      }
     
      .nav{
          opacity: 0;
          visibility: hidden;
          display: flex;
          flex-direction: column;
          align-items: end;
          gap: 1rem;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          background-color: #12161F;
          padding: 2rem;
          box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
          opacity: 1;
      }
      
     .nav.visible{
      opacity: 1;
      visibility: visible;
     }
     .nav-list{
      flex-direction: column;
      align-items: end;
     }
     .nav-list li a{
      color: #ecececec;
     }
     .container{
      display: none;
  }
  
  }
  .slider-frame{
    width: 800pt;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100pt;
    background-color: rgb(226, 226, 226);

}
.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 16s infinite alternate ease-in-out;
    
}
.slider-frame li{
    list-style: none;
    width: 100%;
}
.slider-frame img{
    width: 100%;
    height: 100%;
   
}
@keyframes slide{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}

}
  footer {
    background-color: #12161F;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
  footer a {
    text-decoration: none;
    color: rgb(234, 229, 229);
}
.footerdiv {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footerdiv1 {
    padding-top: 20px;
}

.footerdiv2 {
    color: white;
    }

.footerdiv2 ul li {
    list-style-type: none;
}

 /* Para pantallas de hasta 480px (móviles en modo vertical) */
 @media screen and (max-width: 480px) {
    .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Se ajusta automáticamente */
        gap: 10px;
    }

    button, input {
        width: 100%; /* Asegura que botones e inputs ocupen todo el ancho disponible */
    }

}
